language: python

python:
  - 3.6
  - 3.5
  - pypy3

install:
  - pip install pipenv -i https://mirrors.aliyun.com/pypi/simple/ 
  - pipenv install -d

script:
  - make test

after_success:
  - codecov
