[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
httptools = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"
pytest = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}
gunicorn = "*"
tox = "*"
yapf = "*"
sphinx-rtd-theme = "*"
twine = "*"
aiohttp = "*"
pytest-cov = "*"
pytest-sugar = "*"
codecov = "*"

[requires]
python_version = ">=3.5"
