[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
httptools = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"
pytest = "*"
uvloop = "*"
gunicorn = "*"
tox = "*"
yapf = "*"
sphinx-rtd-theme = "*"
twine = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
