[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httptools = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
restructuredtext-lint = "*"
pytest = "*"
uvloop = "*"
gunicorn = "*"
tox = "*"
"flake8" = "*"
"pep8-naming" = "*"
"flake8-import-order" = "*"
"flake8-print" = "*"
"flake8-strict" = "*"
mypy = "*"
yapf = "*"
pygments = "*"

[requires]
python_version = "3.6"
